.raleway-font1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared items*/

.text-center {
  text-align: center;
}

main {
  max-width: 1140px;
  margin: 0 auto;
  
  
}





/*header part css*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px;
}

.nav-logo {
  color: #4E47FF;
  font-weight: 900;
  font-size: 34px;
}

.nav-button {
  color: #FFFFFF;
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.header {
  background-image: url("../images/Hero-bg.png");
  width: 100%;
  height: 698px;
}

.banner {
  margin: 309px 267px 237px 267px;
  margin-top: 158px;
}

.banner-content h1 {
  color: #252432;
  font-weight: bold;
  font-size: 65px;


}

.banner-content .banner-button {
  color: #FFFFFF;
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}


/*See It in Action css*/


.action {
  margin-top: 116px;
}

.action-content {
  display: flex;
  justify-content: space-around;
}

.action-content-left h3 {
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}

.action-content-left p {
  color: #252432;
  font-size: 24px;
  font-weight: 400;
}

.action-button {
  color: #FFFFFF;
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.action-content-right .radius {
  border-radius: 48px;
}

/*Joined Thousands of Productive Users css part*/
.productive-users {
  margin-top: 116px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 142px;
}

.productive-users-content h3 {
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}

.users-data {
  display: flex;
  justify-content: space-around;
}

.data-title {
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;

}

.data-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  

}

/*What our users say css part*/

.ourusers {
  display: flex;
  justify-content: space-around;

}

.users {
  margin-top: 137px;
}

.users h3 {
  color: #252432;
  font-size: 42px;
  font-weight: bold;


}


.icolor {
  color: #FFB805;
}

.equal {
  display: flex;
  align-items: center;
  gap: 6px;

}

.cards h4 {
  font-size: 32px;
  font-weight: 600;

}

.ag-body {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 400;
}

.round-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #3498db;
  object-fit: cover;
}

.cards {
  border: 2px solid rgb(241, 240, 240);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 50);
  padding: 24px;
  margin-top: 50px;

}

.equal span {
  color: rgba(179, 179, 179, 100);
  font-size: 16px;
  font-weight: 400;
}

/*Let’s Get in Touch CSS part*/


.touch {
  margin-top: 92px;
}

.touch-container {
  display: flex;
  justify-content: space-around;
  /* text-align: cnter; */
  /* gap: 115px; */
}

.touch-container h3 {
  width: 50%;
  font-size: 97px;
  font-weight: bold;
  color: #000000;
}

.touch-container-form input[type="text"] {
  height: 64px;
  border-radius: 10px;
  border-color: #D6DDED;
  display: block;
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 24px;


}

.touch-container-form input[type="email"] {
  height: 64px;
  border-radius: 10px;
  border-color: #D6DDED;
  display: block;
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 24px;
  
}


.touch textarea {
  height: 90px;
  border-radius: 10px;
  border-color: #D6DDED;
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 24px;

}

.touch-button {
  color: #FFFFFF;
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  padding: 19px 201px;
  border-radius: 10px;
  border: none;
}

.footer-container {
  text-align: center;
  margin-top: 104px;
  margin-bottom: 20px;

}


.footer-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

}

.footer-item {
  text-align: center;
  color: #8987A1;
}



.footer-logo {
  color: #4E47FF;
  font-weight: 900;
  font-size: 100px;
  margin-bottom: 8px;
}

.footer-container p {
  color: #8987A1;
  font-size: 16px;
  font-weight: 400;
}